* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    flex: left;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    background: none;
}

header {
    background: #123140;
    color: #fff;
    /* padding: 0px 20px; */
}

header.logo {
    float: left;
}

.logo-img img{
    width: 10rem;
}

header nav {
    float: right;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline;
    margin-left: 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sport {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 10px 0;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-around;
    }

    .sport {
        width: 30%;
    }
}

.btn {
    background: #2F82A9;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 20px 0;
    background: #fff;
    margin-bottom: 20px;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.feature, .sport {
    margin-bottom: 20px;
}

footer {
    background: #123140;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#cricket-img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}


#badminton-img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}


#basketball-img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
#login {
    background-color: #48a1cb;
    border-radius: 10px;
    padding: 10px;
}

#signup {
    background-color: #48a1cb;
    border-radius: 10px;
    padding: 10px;
}

#ar-vr {
    margin-top: 5%;
}

#icon{}
#hero {
    /* height: 26em; */
    min-height: 100vh;
    max-height: 100vh;
}

.desc {
    padding: 10px;
    margin: 3px solid red;
}

@media (max-width: 767px) {
    #hero{
        height: 100%;
    }
}